<div class="wrapper-inner">
    <h1>Liv's Weekly To-Do List</h1>

    <input type="checkbox" id="todo1" name="todo1" value="Meal Prep">
    <label for="todo1"> Meal Prep</label><br>
    <input type="checkbox" id="todo2" name="todo2" value="Laundry">
    <label for="todo2"> Laundry</label><br>
    <input type="checkbox" id="todo3" name="todo3" value="Workout Classes">
    <label for="todo3"> Plan Workout Classes</label><br>
    <div class="pad20">
        <p>Once completed, click <a href="">here.</a></p>
    </div>
</div>